body{  /*style of the body*/
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    background-image: radial-gradient(#87CEEB 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    height: 100%;
    /*background-image: linear-gradient(#FFFFFF, #87CEEB);  using gradient in background */
}
#container{ /*this is to keep the main part in the whole screen*/
    min-height: 100%;
    margin-bottom: 40px;
}

#main { /*this is to exceed container if there is overflow*/
    overflow: auto;
    padding-bottom: 100px;
    flex: 1;
}

nav>ul { /*style of the navigation bar*/
    display: flex;
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #536782;
}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a:hover { /*this is to give hover effect if the navigation option is pointed*/
    color: #87CEEB;
}

nav>ul>li:hover>ul {
    display: block;
    position: absolute;

}

#footer{ /*style for the footer*/
    /*background-color: #536782;
    position: relative;
    height: 100px;
    padding: 30px 15px;
    margin-top: -100px;
    clear: both;*/
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #536782;
   color: white;
   text-align: center;
}

footer a {
    color: #FFFFFF;
}
footer a:hover{ /*hovering in footer*/
    transform: scale(1.5);
}

.image1 { /*style of image*/
        height: 250px;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
.image2 {
        height: 350px;
        width: 250px;
    }
.image3{
    height: 20px;
    width: 20px;
    margin-bottom: -2.5px;
}

.bookimage{
    width: 60%;
    filter: drop-shadow(2px 0px 2px #536782);
    margin-bottom: -10px;
    position: relative;
}
picture{ /*keeping the width of the responsive image 100%*/
    max-width: 100%;
}
@font-face{ /*downloaded font*/
        font-family: titleFont;
        src:url(beyond_the_mountains.otf); /* importing font */
    }
.header1{ /*style of the name of the website*/
        font-family: titleFont;
        font-size: 50px;
        color: #536782;
        text-align: center;
    }

/*style for the texts*/
h2{
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        color: #000000;
    }
h3{
        width: 100%;
        padding: 10px 15px;
        margin: 5px 0;
        font-family: titleFont;
        box-sizing: border-box;
        background-color: #536782;
        color: #FFFFFF;
        text-align: center;

    }
h4{
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 14px;
        color: #536782;
        margin: 1px;
    }
h5{
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 12px;
        font-weight: lighter;
        color: #536782;
        margin:1px;
        margin-bottom: 5px;
    }
h6{
    font-family: titleFont;
    color: #536782;
    font-size: 50px;
    margin: 5px;
    margin-top: 30px;

}
p{
        width: 100%;
        padding: 10px 15px;
        margin: 5px 0;
        box-sizing: border-box;
        background-color: #FFFFFF;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        text-align: center;
        color: #536782;
    }
p1{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: lighter;
    font-size: 8px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

p3{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align:left;
    color: #FFFFFF;
    font-size: 18px;
}
p2{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    color: #536782;
}
p4{
    width: 1200px;
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    color: #536782;
}

legend{
    font-family: titleFont;
    color: #536782;
    font-size: 50px;
    margin: 5px;
    padding: 30px;

}

fieldset{
    border-collapse: collapse;
    color: #536782;
    width: 100%;
    border: none;
}



input[type=text], select {
    width: 100%;
    padding: 10px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #536782;
    text-align: left;
  }

input[type=text].half{
    position: relative;
    display: inline-block;
    align-items: center; /* Not necessary but will center the items */
    flex-direction: row; /* Not necessary but tells that they should be in a row */
    justify-content: flex-start; /* Will align items to left on larger screens */
    flex-wrap: wrap;
    width: 50%;
    /*width: 50%;
    padding: 10px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #536782;
    text-align: left; 
    position: relative;
    white-space: nowrap;*/
}

input[type=date], select {
    width: 100%;
    padding: 10px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }




input[type=time], select {
    width: 100%;
    min-width: relative;
    padding: 10px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=text], textarea {
    width: 100%;
    padding: 10px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
  }

    *{
        box-sizing: border-box;
        text-align: center;
    }

    .row{ /*styling the row to make it responsive*/
        width:97.5%;
        margin: 20px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 20px;
        padding: 20 px 20px;
    }
     .column {
        height: auto;
        width: auto;
        position: relative;
      }

button { /*style of the button*/
        background-color: #536782;
        border: none;
        color: #FFFFFF;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        margin: 10px 1.5px;
        cursor: pointer;
        border-radius: 16px;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-weight: lighter;
        display: inline-block;
      }
button:hover { /*hovering the button*/
        background-color: #87CEEB;
    }

select{ /*style of the selection bar*/
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: lighter;
    background-color: #FFFFFF;
    color: #536782;
}

td, th { /*style of the table's content*/
    color: FFFFFF;
    border: solid;
    border-width: 1px 0;
    height: 60px;
}

table{ /*style of the table*/
    width: 100%;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
    color: #536782;
    border-collapse: collapse;
}

p5{

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #536782;
    margin-bottom: 0px;
    width: 100%;
    min-width: relative;
    padding: 10px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}




.container {
    margin: 0;
    background-color: #FFFFFF;
    background-image: radial-gradient(#87CEEB 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    height: 100%;
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .container .form {
    margin-top: 30px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }

  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  
  .address :where(input, .select-box) {
    margin-top: 15px;
  }
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
  }


  /*Responsive*/
  @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }

::placeholder{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #536782;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #536782;
  }
  .button-wrap {
    position: relative;
  }
  .button {
    width: 100%;
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
    background-color:#FFFFFF;
    font-size: 16px;
    font-weight: bold;
    color:#536782;
  }